<!doctype html>
<head>
      <title>Hello Bootstrap!</title>
      <script src="/static/bootstrap.js"></script>
      <link href="/static/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-info">
      <div class="jumbotron bg-light shadow-lg position-absolute top-50 start-50 translate-middle justify-content-center p-5">
    <h1> {{output}} </h1>
  <div class="d-flex bd-highlight mb-3 justify-content-center">
  <a href="rock">
      <div class="btn btn-secondary w-100" type="button">
      Rock
  </div>
  <a href="paper">
      <div class="btn btn-primary w-100" type="button">
      Paper
  </div>
  <a href="scissor">
      <div class="btn btn-warning w-100" type="button">
      Scissors
  </div>
</div>
</div>
</body>
